.App {
  text-align: center;
  background-color: #15171b;
  min-height: 100vh;
}

.Header{
  display:flex;
  align-items: center;
  justify-content: center;
}

.Titulo{
  color: #FFFFFF;
  text-shadow: 3px 2px 0 #7A7A7A;
  font-size: 40px;
}

.BitcoinLogo{
  max-width: 60px;
  max-height: 60px;
  display: flex;
}
